<div class="row">        <!-- first day -->
  <div class="col-md-6"> <!-- left column -->
    <h3>June 24, 2026</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td>Introduction to the Workshop Series, Code of Conduct</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:10</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/01-run-quit.html">Running, Quitting, and Troubleshooting</a></td>
      </tr>
      <tr>               <!-- row 4   -->
        <td>12:10</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/02-variables.html">Variables and Assignment</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>13:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/03-types-conversion.html">Data Types and Type Conversion</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>14:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/04-built-in.html">Built-in Functions and Help</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>14:30</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/06-libraries.html">Libraries</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>15:00</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>      
    </table>
  </div>
</div>
<div class="row">        <!-- day 2 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>July 1, 2026</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>11:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular.html">Reading Tabular Data into DataFrames</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/08-data-frames.html">Pandas DataFrames</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:15</td>        <!-- time    -->
        <td><a href ="http://swcarpentry.github.io/python-novice-gapminder/09-plotting.html">Plotting</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>13:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href ="http://swcarpentry.github.io/python-novice-gapminder/11-lists.html">Lists</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>14:15</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/12-for-loops.html">For Loops</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>15:00</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>      
    </table>
  </div>
</div>
<div class="row">        <!-- day 3 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>July 8, 2026</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>11:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/13-conditionals.html">Conditionals</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:30</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets.html">Looping Over Data Sets</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/16-writing-functions.html">Writing Functions</a></td>        <!-- content -->
      </tr>              <!-- row 4   -->
        <td>13:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/17-scope.html">Variable Scope</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>14:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/18-style.html">Programming Style</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>14:30</td>        <!-- time    -->
        <td>Wrap-up</td>        <!-- content -->
      </tr>    
      <tr>               <!-- row 8   -->
        <td>15:00</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>      
    </table>
  </div>
</div>
